@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
  }
  
   #cont1 {
     margin-top: 50px;
   } 

  .edit_field {
    display: inline-block;
    width: 300px;
    height: 25px;
  }
  
  .task_name {
    width: 300px;
    height: 25px;
    display: inline-block;
    text-align: left;
  }
  
.inputTask {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  border-radius: 3px;
  font: normal 16px/normal 'Roboto', sans-serif;
  color: rgb(0, 0, 0);
  background: rgba(252,252,252,1);
}

.buttonSubmit {
  display: inline-block;
  cursor: pointer;
  padding: 10px 45px;
  border: 1px solid green;
  border-radius: 4px;
  font: normal 17px/normal 'Roboto', sans-serif;
  color: rgb(0, 168, 0);
  text-align: center;
  background: rgba(255,255,255,1);
 
}

.checkBox {
  display: inline-block;
   margin: 20px;
    left: 4px;
    height: 20px;
    width: 25px;
    background-color: #eee;
}

.fatherDiv {
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid green;
  
}
  
